--- Contém a relação de relaórios de que devem ser gerados para os estabelecimentos que possuem estoque de medicamentos controlados

with
    controlados as (
        select distinct controlado_tipo from `rj-sms`.`saude_dados_mestres`.`material` where controlado_indicador = 'sim'
    ),

    cnes as (
        select distinct id_cnes
        from `rj-sms`.`saude_dados_mestres`.`estabelecimento`
        where prontuario_versao = 'vitacare' and prontuario_estoque_tem_dado = 'sim'
    ),

    cnes_controlados as (
        select cnes.id_cnes, controlados.controlado_tipo from controlados cross join cnes
    ),

    estabelecimento as (
        select *, concat(endereco_logradouro, ', ', endereco_numero) as endereco
        from `rj-sms`.`saude_dados_mestres`.`estabelecimento`
    ),

    farmaceuticos as (
        select id_cnes, array_agg(struct(farmaceutico_nome as nome, farmaceutico_crf as crf)) as farmaceutico
        from `rj-sms`.`brutos_sheets`.`aps_farmacias`
        group by 1
    )

select
    cc.id_cnes,
    est.nome_limpo as estabelecimento_nome,
    est.area_programatica as estabelecimento_area_programatica,
    est.endereco as estabelecimento_endereco,
    cc.controlado_tipo,
    f.farmaceutico,
from cnes_controlados as cc
left join estabelecimento as est using (id_cnes)
left join farmaceuticos as f using (id_cnes)
order by est.nome_limpo, cc.controlado_tipo